

.title {

    font-size: 20px;
    font-style: bold;
    color: #fff;
    text-decoration: none;
}

.my-navbar ul {
    /* align-items: center; */
    /* justify-content: center; */
    float: right;
    list-style-type: none;
}

.my-navbar li {
    float: left;
    margin-right: 30px;
}



.my-navbar li a{
    border: 1px solid  transparent; 
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    
}

li a:hover {
    background-color: #fff;
    color: rgb(10, 10, 10);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid rgb(241, 239, 239);
}

.myBtn {
    background-color: rgba(201, 201, 218, 0.171);
    border-radius: 5px;
    border: 1px solid rgb(252, 0, 0);
}

