/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.container {
  margin: auto;
  max-width: 900px;
}

/* NAVBAR */
.header{
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}
/* END NAVBAR */
/* blog */

.blog {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  width: 40%;
  margin: 10px;
  border: 1px solid rgb(146, 127, 127);
  color: #000;
  padding: 20px;
  overflow: hidden;
  text-decoration: none;
  box-sizing: border-box;
}

.story {
  height: 20px;
  overflow: hidden;
}
.card .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* single blog page */
.BlogPage  {
  max-width: 80%;
  margin: auto;
}

.BlogPage .row {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px #000 solid;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}  

.BlogPage .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.BlogPage .option .icon {
  display: flex;
  align-items: center;
  width: 100px;
}

.BlogPage .option .icon span {
  margin: 10px;
}
.BlogPage .option .icon img{
  max-width: 100%;
  cursor: pointer;
}
.BlogPage .button {
  display: flex;
  height: 30px;
  width: 90px;
  justify-content: center;
  align-items:center ;
  background-color: #512aff;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}
.BlogPage .back:hover {
  background-color: #9982ff;
}
/* end of blog */




/* create blog page */
.create-blog h1 {
  text-align: center;

}

* {
  box-sizing: border-box;
}

form {
  margin: auto 50px;
}

form .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

input[type=text]:nth-child(1), select, textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-25 {
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  width: 100%;
  margin-top: 6px;
}


/* not found page */

.not-found {
  text-align: center;
}




/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }


}






